/* Sticky Header di dalam main-content  */
.sticky-header {
  display: none;
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  padding: 5px 10px 5px 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  z-index: 1000;
  text-align: center;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid var(--table-border-color); */
  margin: 20px;
  border-radius: 20px;
  text-align: left;
}
