#reviewResult {
  width: 80%; /* Pastikan elemen mengikuti lebar kontainer */
  word-wrap: break-word; /* Agar teks panjang terpecah otomatis ke baris berikutnya */
  text-align: left;
  margin-bottom: 50px;
}

.list-disc li::marker {
  color: #4f46e5; /* Indigo */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
}
