/* Sidebar Menu */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%; /* Fixed width */
  background-color: var(--sidebar-bg);
  padding: 16px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  transition: width 0.3s ease, padding 0.3s ease;
  overflow: hidden;
  box-sizing: border-box; /* Pastikan padding tidak mempengaruhi lebar */
  border-radius: 20px;
  margin: 2%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

/* align menu item middle in sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
  flex-grow: 1; /* Allow menu items to expand */
}
/* style menu button */
.sidebar ul li {
  margin: 5px 0;
  cursor: pointer;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  border-radius: 10px;
  transition: background 0.3s;
  gap: 5px; /* Space between icon and text */
  font-size: 12px; /* Adjust size as needed */
  padding: 10px;
  margin-bottom: 10px;
}
.sidebar ul li a:hover {
  background: var(--sidebar-menu-hover);
  border-radius: 13x;
}
.sidebar ul li.active a {
  background: var(--sidebar-menu-active); /* Highlight color */
  color: var(--sidebar-text-active); /* Active text color */
  font-weight: bold;
  border-radius: 10px;
}

.powered-by {
  display: flex;
  flex-direction: column; /* Bikin vertikal */
  align-items: center; /* Tengahin isinya */
  gap: 4px; /* Jarak antara teks dan logo */
  font-size: 8px;
  color: var(--sidebar-powered-by);
  padding-bottom: 30px; /* Adjust spacing */
  margin-top: 20px;
}

.openai-logo {
  width: 60px;
  padding-top: 5px;
  display: block;
  margin: auto;
}

/* logo Diri sidebar */
.logo-container {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
}

.logo {
  width: 120px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

/* Sidebar can be collapsed */
.sidebar.collapsed {
  width: 7%; /* Collapsed width */
  padding: 20px;
  align-items: center;
}

.sidebar.collapsed .sidebar-menu li a .sidebar-title {
  display: none; /* Hide text when collapsed */
}

/* Hidden class to toggle visibility */
.hidden {
  display: none;
}

.sidebar .menu a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  transition: background 0.3s;
}

.sidebar.collapsed .menu a {
  justify-content: center;
}

.sidebar.collapsed .menu a i {
  font-size: 20px; /* Adjust icon size */
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Sidebar menu items */
.sidebar-menu li {
  align-items: center;
  white-space: nowrap;
  gap: 20px;
}

/*icoon sidebar*/
.sidebar-menu li i {
  font-size: 20px;
  margin: 5px;
}

.sidebar.collapsed .sidebar-menu li span {
  display: none; /* Hide text when collapsed */
}

.sidebar.collapsed .sidebar-menu li {
  justify-content: center;
}

/* Toggle Button */
#toggleSidebar {
  background: none;
  color: var(--sidebar-toogle);
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  color: var (--sidebar-text-active); /* Active text color */
  border: 1px solid var(--table-border-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
  padding: 5px 10px;
  max-width: 60px;
  align-self: center;
}

/* OPEN AI image Sembunyikan semua tema-image secara default */
.theme-image {
  display: none;
}

body.dark-mode .dark-image {
  display: inline;
}

body:not(.dark-mode) .light-image {
  display: inline;
}
